.main {
    display: flex;
    justify-self: space-between;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .text {
        margin: 0 20px;
        text-align: left;
        font-size: 1.3rem;
    }

    .gif {
        img {
            height: 550px;

            @media (max-width: 768px) {
                display: none;
            }
        }
    }
    .picture {
        img {
            height: 550px;
            @media (max-width: 768px) {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
